<section>

    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">
            <h1>Outbackers</h1>

            {{#if userDetails}}
              <p>Welcome {{userDetails.username}}! </p>

            {{else}}
              <p>Welcome to Outbackers!</p>
              <p>Sign in to your account or create a new one to be part of the
                community!</p>
            {{/if}}
          </div>
          <img
            src="https://images.unsplash.com/flagged/photo-1557772350-e6061e459264?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
            class="d-block w-100"
            alt="a couple of vans at the beach"
          />
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h1>Outbackers</h1>

            {{#if userDetails}}
              <p>Welcome {{userDetails.username}}! </p>

            {{else}}
              <p>Welcome to Outbackers!</p>
              <p>Sign in to your account or create a new one to be part of the
                community!</p>
            {{/if}}
          </div>
          <img
            src="https://images.unsplash.com/photo-1586600822178-26dec0f653a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1802&q=80"
            class="d-block w-100"
            alt="mountains at dawn"
          />
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h1>Outbackers</h1>

            {{#if userDetails}}
              <p>Welcome {{userDetails.username}}! </p>

            {{else}}
              <p>Welcome to Outbackers!</p>
              <p>Sign in to your account or create a new one to be part of the
                community!</p>
            {{/if}}
          </div>
          <img
            src="https://images.unsplash.com/39/vsSIIQbXTHCO1jBsKm4Q_IMG_1779_edt.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80"
            class="d-block w-100"
            alt="a house at the beach"
          />
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h1>Outbackers</h1>

            {{#if userDetails}}
              <p>Welcome {{userDetails.username}}! </p>

            {{else}}
              <p>Welcome to Outbackers!</p>
              <p>Sign in to your account or create a new one to be part of the
                community!</p>
            {{/if}}
          </div>
          <img
            src="https://images.unsplash.com/photo-1464278533981-50106e6176b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80"
            class="d-block w-100"
            alt="a lake"
          />
        </div>

      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</section>

{{!-- look for recommendations --}}
<section style="background-color: #185F77; color: #f7f7ff">
    <div class="container d-flex justify-content-center" >
      <div class="row">
        <div class="col-4">
          <h1 class="mb-4">Euismod morbi sed dolore</h1>
          <h4 class="mb-4">Nunc lorem mauris in aliquam sed euismod amet adipiscing</h4>
          <p class="mb-4">Sit lorem ipsum dolor amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sapien risus, commodo eget turpis at, elementum convallis enim turpis, lorem ipsum dolor. Sed amet nisl tempus. lacinia malesuada et a elit. Donec urna ex lacinia. Lorem ipsum dolor sit amet nullam consequat etiam.</p>

          <a href="/recommendations" class="btn rounded-pill w-50 p-3" style="background-color: #f7f7ff;">Connect</a>
        </div>

        <div class="col-4">
          <img class="card-img-top mb-4 rounded-3" src="https://images.pexels.com/photos/8828454/pexels-photo-8828454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
          <p>Tempus malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sapien risus, commodo eget turpis aliquam.</p>
        </div>
        <div class="col-4">
          <img class="card-img-top mb-4 rounded-3" src="https://images.pexels.com/photos/1546328/pexels-photo-1546328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
          <p class="mb-4">Lorem ipsum malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Nunc lorem mauris, fringilla in aliquam amet euismod in pellentesque habitant morbi.
          </p>

        </div>
      </div>
    </div>
</section>

{{!-- search for services --}}
<section style="background-color: #ffd166;">
  <div class="container d-flex align-content-center">

    <div class="row">
      <h1 class="mb-4">Sapien lorem nulla consequat</h1>
      <p class="mb-4">Lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus consequat.</p>

      <div class="row mb-4 rounded-4 align-items-center" style="background-color: #185F77;">
        <div class="col-5">
          <img class="card-img-top" src="https://images.pexels.com/photos/5137969/pexels-photo-5137969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-5">
          <h2 class="mb-4">Magna etiam dolor</h2>
          <p class="mb-4">Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur amet sapien risus, commodo eget convallis enim turpis, lorem ipsum dolor sit amet nullam.
          </p>
          <a href="/services" class="btn rounded-pill w-50 p-3" style="background-color: #f7f7ff;">Search housing</a>
        </div>
      </div>

      <div class="row rounded-4 justify-content-end align-items-center" style="background-color: #185F77;">
        <div class="col-5 text-end">
          <h2 class="mb-4">Magna etiam dolor</h2>
          <p class="mb-4">Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur amet sapien risus, commodo eget convallis enim turpis, lorem ipsum dolor sit amet nullam.</p>
          <a href="/services" class="btn rounded-pill w-50 p-3" style="background-color: #f7f7ff;">Search jobs</a>
        </div>
        <div class="col-5">
          <img class="card-img-top" src="https://images.pexels.com/photos/2544829/pexels-photo-2544829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
      </div>

    </div>
  </div>
</section>

{{!-- join the adventure --}}
<section style="background-color: #f46036;">
  <div class="container">
    <div class="row">
      <h2>Join the adventure</h2>
    </div>
  </div>
</section>

{{!-- footer --}}
<section style="background-color: #212738; color: #F7F7FF;">
  <div class="container">
    <div class="row">
      <h2>This is the footer</h2>
    </div>
  </div>
</section>
