<section class="justify-content-center mt-5">
  <div class="container align-content-center">
    <div class="container-cards">

        {{!post section}}
        <div class="card-details">
          <div class="card-header p-0">
            <img class="img-fluid h-100" src="{{image}}" alt="">
          </div>
          <div class="card-body p-3">
            <h2 class="mb-3">{{title}}</h2>
            <p><strong>Country:</strong> {{country}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            <hr />
            <p><strong>Creator:</strong> {{creator}}</p>

            {{!-- if logged in display creator's email --}}
            {{#if userDetails}}
            <p>Creator: {{serviceDetails.creator.email}}</p>

            {{!-- if isOwner of the post, can edit and delete --}}
            {{#if isOwner}}
            <div class="d-flex justify-content-end">
              <a href="/services/{{serviceDetails._id}}/edit" class="btn btn-light">Edit</a>
              <form action="/services/{{serviceDetails._id}}/delete" method="POST">
                <button class="btn btn-dark">Delete</button>
              </form>
            </div>
            {{/if}}

            {{/if}}

          </div>
        </div>


        <div class="card-comment">
          <div class="card-header">
            <h4 class="card-title">Other backpackers have said ...</h4>
            {{!-- if there are comments, where it will be displayed --}}
            {{#if comments}}
            {{#each comments}}
            <p> {{message}}</p>
            {{/each}}
            <br>
            {{/if}}

            {{!writing a new comment}}
            <div class="card-body d-flex align-items-end">
              <form action="/recommendations/{{_id}}" method="post">
                {{#if userDetails}}
                <div>
                  <label><strong>Leave a comment</strong></label>
                  <textarea class="form-control" name="comment" cols="30" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-dark mt-2 justify-content-end">Send</button>
              </form>
              {{/if}}
            </div>



          </div>

        </div>
      </div>
</section>