<section class="justify-content-center mt-5">
<div class="container">
  <div class="row p-1">

    {{! details of the posted recommendation }}
    <div class="col-12 col-md-6 d-flex">
      <div class="card product flex-fill">
        <img class="card-img-top" src="{{image}}" alt="Card image" />
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">
            <hr />
            <p><strong>Country:</strong> {{country}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            <hr />
            <p><strong>Creator:</strong> {{creator}}</p>
      
            {{! if logged in }}
            {{#if userDetails}}
              <div class="d-flex justify-content-end">
                <a href="/recommendations/{{_id}}/edit" class="btn btn-light">Edit</a>
                <form action="/recommendations/{{_id}}/delete" method="POST">
                  <button class="btn btn-primary">Delete</button>
                </form>
              </div>
                      {{else}}
            <h5>Sign up or login to gain access to the creator's email for further contact</h5>
            {{/if}}
      
            {{! if there are comments, you can see them}}
            {{#if comments}}
              {{#each comments}}
                <!-- <p><strong>{{creator}}</strong></p>-->
                <p>{{message}}</p>
                <br>
              {{/each}}
            {{else}}
              <p> <strong>Log in </strong>to your account to leave a comment!</p>
            {{/if}}
          </p>
        </div>
      </div>
    </div>

    {{! contact form }}
    <div class="form">
      <form action="/recommendations/{{_id}}" method="POST">
      {{#if userDetails}}
        <div class="col-12 col-md-6 d-flex">
          <div class="card product flex-fill">
            
            <form class="p-3">
              <h3>Comment</h3>
              
              <div class="mb-3">
                <label>Leave a comment:</label>
                <textarea placeholder="Start by typing your username … " name="comment" class="form-control" rows="6"></textarea>
              </div>
              <div class="mb-3 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>

          </div>
        </div>
      {{/if}}
      </form>
    </div>

  </div>
</div>
</section>