<section class="sections">
  <div class="container d-flex align-content-center">

    <div class="row">
      <div class="row mb-4 rounded-4 align-items-center">
        <div class="col-7">
          <img class="card-img-top rounded-5" src="{{image}}" alt="">
        </div>
        <div class="col-5">
          <h2 class="mb-4">{{title}}</h2>
          <p class="mb-4">
            <hr />
          <p><strong>Description:</strong> {{description}}</p>
          <p><strong>Service type:</strong> {{serviceType}}</p>
          <p><strong>Country:</strong> {{country}}</p>
          <p><strong>City:</strong> {{city}}</p>
          <p><strong>Language:</strong> {{language}}</p>
          <p><strong>Date:</strong> {{date}}</p>
          <hr />
          <p><strong>Creator:</strong> {{userDetails.username}}</p>
    
          {{!-- if logged in --}}
          {{#if userDetails}}
          <div class="d-flex justify-content-end">
            <a href="/services/{{_id}}/edit" class="btn btn-light">Edit</a>
            <form action="/services/{{_id}}/delete" method="POST">
              <button class="btn btn-primary">Delete</button>
            </form>
          </div>
          {{/if}}
          </p>
        </div>
      </div>
    </div>

  </div>
</section>